figure{ margin: 0px;}
.tlp-round-picture img{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;  
}
.tlp-position{ font-weight: 400;}
.margin-bottom{ margin-bottom: 30px;}
/* progress bar */
.skill-prog {
    height: 4px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.skill-prog .fill {
    height:100%;
    -webkit-animation: 400ms;
    background-color: #00afd1;
    border-radius: 4px;
}
.tlp-team-skill{ font-size: 90%; padding: 0px 0px 15px 0px;}
/*********** Social Icon ***************/
.social-icons ul{margin-left: 0px; padding-left: 0px;  }
.social-icons ul li{ list-style: none; display: inline-block; padding-right: 5px; }
.social-icons ul li .fa{ background:#333; width: 28px; height: 28px; text-align: center; vertical-align: middle; padding: 7px 0px }
.social-icons li:hover .fa-facebook{ background: #3b5999; color: #fff; }
.social-icons li:hover .fa-twitter{ background: #3aa9e0; color: #fff; }
.social-icons li:hover .fa-linkedin{ background: #0080b1; color: #fff; }
.social-icons li:hover .fa-youtube{ background: #cd322d; color: #fff; }
.social-icons li:hover .fa-vimeo{ background: #44bbff; color: #fff; }
.social-icons li:hover .fa-instagram{ background: #3e729a; color: #fff; }

.tlp-round-picture .social-icons ul li .fa{ -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
/******************** Layout 1 ***********************/
.tlp-team{ position: relative;}
.tlp-team-layout1 .tlp-content-layout1 {background: #f12929;color: #ffffff; padding: 10px 0; }
.tlp-team-layout1 .single-team-area h3 { padding: 0; margin: 0 0 10px 0; }
.single-team-area img { width: 100%; }
.single-team-area .single-team { position: relative; overflow: hidden; }  
.tlp-team-layout1 .single-team-area .overlay {position: absolute;bottom: 0;left: 0;height: 100%;width: 100%;color: #fff;
  background-color: rgba(217, 35, 45, 0.85);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-align: center;
  }    
.tlp-team-layout1 .single-team-area .overlay,
.tlp-team-layout1 .single-team-area .overlay-element h4,
.tlp-team-layout1 .single-team-area .detile-popup {    
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  }
.tlp-team-layout1 .single-team-area:hover .overlay,
.tlp-team-layout1 .single-team-area:hover .overlay-element h4,
.tlp-team-layout1 .single-team-area:hover .detile-popup {
   opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  }
    
.tlp-team-layout1 .short-bio{ padding: 10px 0px 0px;}
.tlp-team-layout1 .overlay .social-icons { text-align: center; padding: 50% 0; }
.tlp-team-layout1 .overlay .social-icons1 { text-align: center; padding: 20% 0; }
.tlp-team-layout1 .overlay .social-icons ul { margin: 0; padding: 0; list-style: none; text-align: center; }

.tlp-team-layout1 .single-team:hover .overlay { top: 0; }
.single-team-area:hover > .single-team:before { display: none; }

.overlay-element {text-align: center; color: #ffffff;}

.overlay-element .detail-link i.fa {color: #ffffff;font-size: 20px;margin-top: 45%;z-index: 9999;padding:4px 6px;}
.overlay-element .detail-link:hover i.fa { background: #fff; color:#ed344a;-webkit-border-radius: 50%; -moz-border-radius: 50%;
  border-radius: 50%;  }
.tlp-team-layout1 .contact-info { margin: 0px; padding: 0px 0px 10px 0px; }
.tlp-team-layout1 .contact-info ul{ margin: 0px; padding: 0px;}
.tlp-team-layout1 .contact-info ul li{ margin: 0px; padding: 0px; list-style: none;}
.tlp-team-layout1 .contact-info i{ padding-right: 8px;}

/************************ End Layout 1 ******************/
/************************ Start Layout 2 ******************/
.tlp-team-layout2 .tlp-content h3{ margin-top: 10px; }

.tlp-team-layout2 .short-bio{ padding: 8px 0px;}
.tlp-team-layout2 .contact-info { margin: 0px; padding: 0px 0px 10px 0px; }
.tlp-team-layout2 .contact-info ul{ margin: 0px; padding: 0px;}
.tlp-team-layout2 .contact-info ul li{ margin: 0px; padding: 0px; list-style: none;}
.tlp-team-layout2 .contact-info i{ padding-right: 8px;}
/************************ End Layout 2 ********************/

/************************ Start Layout 3 ******************/
.tlp-team-layout3 .tlp-content{ background: none; padding: 10px 0px 10px; }
.tlp-team-layout3 .single-team-area  h3{ margin-top: 0px; padding-top: 10px; }
.tlp-team-layout3 .short-bio{ text-align: center; padding: 0px 0px 0px; }
.tlp-team-layout3 .contact-info { margin: 0px; padding: 0px 0px 10px 0px; }
.tlp-team-layout3 .contact-info ul{ margin: 0px; padding: 0px;}
.tlp-team-layout3 .contact-info ul li{ margin: 0px; padding: 0px; list-style: none;}
.tlp-team-layout3 .contact-info i{ padding-right: 8px;}
/************************ End Layout 3 ********************/
/************************ Start Layout 4 ******************/
.tlp-team-layout4 .single-team-area h3 a span,.tlp-team-layout4 .single-team-area h3 { padding: 0;  text-align: center; color: #fff;}
.tlp-team-layout4 .tlp-position{ color: #fff; padding-bottom: 10px; display: inline;}
.tlp-team-layout4 .short-bio{ text-align: center; padding: 0px 0px 0px; line-height: 20px; padding-top: 10px;}
.tlp-team-layout4 .single-team-area .overlay {position: absolute;bottom: 0;left: 0;height: 100%;width: 100%;color: #fff;
  background-color: rgba(217, 35, 45, 0.85);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-align: center;
}
.tlp-team-layout4 .single-team-area .overlay-element { text-align: center; padding: 20px;}
.tlp-team-layout4 .single-team-area .overlay,
.tlp-team-layout4 .single-team-area .overlay-element h4,
.tlp-team-layout4 .single-team-area .detile-popup { 
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.tlp-team-layout4 .single-team-area:hover .overlay,
.tlp-team-layout4 .single-team-area:hover .overlay-element h4,
.tlp-team-layout4 .single-team-area:hover .detile-popup { 
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.tlp-round-picture .overlay{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; padding-top: 10%;}
.tlp-team-layout4 .tlp-round-picture:hover .overlay {top: 0; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.tlp-team-layout4 .tlp-round-picture .tlp-content{ background: none; padding-top: 15%;}
.tlp-team-layout4 .tlp-round-picture .overlay .social-icons { text-align: center; margin: 0px; padding:0px; }
/************************ End Layout 4 ********************/

/************************ Start Layout 5 ******************/
.tlp-team-layout5 .tlp-content{ background: none; padding-top: 10%;}
.tlp-team-layout5 .table tr td{ vertical-align: middle;}
.tlp-team-layout5 .table>thead>tr>th, .tlp-team-layout5 .table>tbody>tr>th, .tlp-team-layout5 .table>thead>tr>td, .table>tbody>tr>td {vertical-align: middle !important;}

/************************ End Layout 5 ********************/

/************************ Start Layout 6 ******************/
.tlp-team-layout6 .team-item h3 a{ color: #fff;}
.tlp-team-layout6 .team-item .overlay .tlp-position{ color: #fff; text-align: center;}
.tlp-team-layout6 .tlp-content{ background: none; padding-top: 24px;}
.isotop-container .team-item{ overflow: hidden;}
.team-item .overlay .short-bio{ padding-top: 14px; line-height: 20px;}

.isotop-container  .team-item .overlay {position: absolute;bottom: 0;left: 0;height: 100%;width: 100%;color: #fff;
  background-color: rgba(217, 35, 45, 0.85);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-align: center;
  padding: 20px;
}
.isotop-container .team-item .overlay,
.isotop-container .team-item .overlay-element h4,
.isotop-container .team-item .detile-popup {    
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.isotop-container  .team-item:hover .overlay,
.isotop-container  .team-item:hover .overlay-element h4,
.isotop-container  .team-item:hover .detile-popup {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.isotop-container  .button-group{text-align: center;padding-bottom: 20px;}
.isotop-container .button-group button {background: #333; border:none;color: #fff;margin: 5px;padding: 3px 10px;
}
.isotop-container .button-group button:hover{
    background: #000000;
}

.tlp-team-layout6 .social-icons{ padding-top: 15px;}
/*********************** End Layout 6 ********************/
/*********************** Start Layout 7 ********************/
.tlp-team-layout7 .tlp-content{ background: none; padding-top: 0px;}
.tlp-team-layout7 .team-item { margin-right: 30px; margin-bottom: 15px;  max-width: 250px;}
.tlp-team-layout7 .contact-info { margin: 0px; padding: 0px 0px 10px 0px; }
.tlp-team-layout7 .contact-info ul{ margin: 0px; padding: 0px;}
.tlp-team-layout7 .contact-info ul li{ margin: 0px; padding: 0px; list-style: none;}
.tlp-team-layout7 .contact-info i{ padding-right: 8px;}
/*********************** End Layout 7 ********************/

/*********************** Start Layout 8 ********************/
.tlp-team-layout8 .single-team-area h3 a span{ color: #fff;}
.tlp-team-layout8 .tlp-position{ color: #fff; text-align: left;}
.tlp-team-layout8 .short-bio{ padding-top: 14px; line-height: 20px; text-align: left;}
.tlp-team-layout8 .tlp-img-block{padding: 0;}
.tlp-team-layout8 .tlp-info-block{padding: 0;background: #fd662d;color: #fff;position: relative;}
.tlp-team-layout8 .tlp-right-arrow:after{border-color: transparent #fd642d;border-style: solid;border-width: 0 34px 34px 0;content: " ";display: block;
    height: 0;left: -34px;position: absolute;top: 50%;width: 0; }
.tlp-team-layout8 .tlp-left-arrow:after{  border-color: #fd642d transparent transparent;border-style: solid;border-width: 34px 34px 0 0;
    content: " ";display: block;height: 0;position: absolute;right: -34px;top: 50%;width: 0;z-index: 2;}
.tlp-team-layout8 .tlp-info-block article{padding-left: 15px; padding-right: 15px; }
.tlp-team-layout8 .tlp-img.tlp-single-team {height: 100%;width: 100%;}
.tlp-team-layout8 .tlp-img-responsive {width: 100%;height: 100%;}
.tlp-team-layout8 .contact-info { margin: 0px; padding: 0px 0px 10px 0px; }
.tlp-team-layout8 .contact-info ul{ margin: 0px; padding: 0px; list-style: none;}
.tlp-team-layout8 .contact-info ul li{ margin: 0px; padding: 0px; list-style: none;}
.tlp-team-layout8 .contact-info i{ padding-right: 8px;}
.tlp-team-layout8 .margin-bottom{ margin-bottom:0px !important; }

/*********************** End Layout 8 ********************/

/*********************** Start Layout 9 ********************/
.tlp-team-layout9 a {color: #fff;}
.tlp-team-layout9 .social-icons {bottom: 2px;left: 0;position: absolute;right: 0;}
.tlp-team-layout9 .social-icons ul { margin: 0px; padding: 0px;}
.tlp-team-layout9 .social-icons ul li {list-style: none;display: inline-block;margin: 2px;border: 1px solid #fff; width: 24px; text-align: center;}
.tlp-team-layout9 .social-icons ul li a:hover {background: #fff;}
.tlp-team-layout9 .tlp-grid-9 {position: relative;margin: 0 auto;max-width: 1000px;list-style: none;text-align: center;overflow: hidden;}
.tlp-team-layout9 .tlp-grid-9 figure {position: relative;overflow: hidden;margin: 10px 1%;background: #3085a3;text-align: center;cursor: pointer;
}
.tlp-team-layout9 .tlp-grid-9 figure img {position: relative;display: block;min-height: 100%;max-width: 100%;opacity: 0.8;
  width: 100%;
}
.tlp-team-layout9 .tlp-grid-9 figure figcaption {color: #fff;text-transform: uppercase;font-size: 1.25em;-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tlp-team-layout9 .tlp-grid-9 figure figcaption::before,
.tlp-team-layout9 .tlp-grid-9 figure figcaption::after {pointer-events: none;}
.tlp-team-layout9 .tlp-grid-9 figure figcaption,
.tlp-team-layout9 .tlp-grid-9 figure figcaption > a {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.tlp-team-layout9 .tlp-grid-9 figure figcaption > a {z-index: 1000;text-indent: 200%;white-space: nowrap;font-size: 0;opacity: 0;}
.tlp-team-layout9 .tlp-grid-9 figure span.tlp-position {margin: 0;}
.tlp-team-layout9 .tlp-grid-9 figure span.tlp-position {letter-spacing: 1px;font-size: 68.5%;padding: 0 30px;}
.tlp-team-layout9 figure.effect-bubba {background: #9e5406;}
.tlp-team-layout9 figure.effect-bubba img {opacity: 0.7;-webkit-transition: opacity 0.35s;transition: opacity 0.35s;}
.tlp-team-layout9 figure.effect-bubba:hover img {
  opacity: 0.4;
}
.tlp-team-layout9 figure.effect-bubba:hover .tpl-social {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -90px;
  color: #fff;
}
.tlp-team-layout9 figure.effect-bubba figcaption::before,
.tlp-team-layout9 figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.tlp-team-layout9 figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.tlp-team-layout9 figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
.tlp-team-layout9 figure.effect-bubba h3 {
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  opacity: 0;
}
.tlp-team-layout9 figure.effect-bubba span.tlp-position {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
.tlp-team-layout9 figure.effect-bubba:hover figcaption::before,
.tlp-team-layout9 figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.tlp-team-layout9 figure.effect-bubba:hover h3,
.tlp-team-layout9 figure.effect-bubba:hover span.tlp-position {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*********************** End Layout 9 ********************/
.tlp-team-layout10  {
 
}
.tlp-team-layout10 .social-icons ul li {
  list-style: none;
  display: inline-block;
  margin: 0 2px;
}
.tlp-team-layout10 .social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.tlp-team-layout10 .social-icons ul li {
  display: inline-block;
  list-style: outside none none;
}
.tlp-team-layout10 .social-icons ul li a {
  border: 1px solid #fff;
  display: inline-block;
  list-style: outside none none;
  width: 22px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: rgba(22, 168, 235, 0.8);
}
.tlp-team-layout10 .social-icons ul li a:hover {
  background: #fff;
  border: 1px solid #fff;
}
.tlp-team-layout10 .grid-10 {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
.tlp-team-layout10 .grid-10 figure {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  background: #000000;
  text-align: center;
  cursor: pointer;
}
.tlp-team-layout10 .grid-10 figure:hover img {
  opacity: .5;
}
.tlp-team-layout10 .grid-10 figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  width: 100%;
}
.tlp-team-layout10 .grid-10 figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tlp-team-layout10 .grid-10 figure figcaption::before,
.tlp-team-layout10 .grid-10 figure figcaption::after {
  pointer-events: none;
}
.tlp-team-layout10 .grid-10 figure figcaption,
.tlp-team-layout10 .grid-10 figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tlp-team-layout10 .grid-10 figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.tlp-team-layout10 .grid-10 figure h3 {
  font-weight: 300;
}
.tlp-team-layout10 .grid-10 figure h3 span {
  font-weight: 800;
}
.tlp-team-layout10 .grid-10 figure h3,
.tlp-team-layout10 .grid-10 figure p {
  margin: 0;
}
.tlp-team-layout10 .grid-10 figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
.tlp-team-layout10 figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  height: 39px;
  padding: 10px 0 0;
  background: rgba(255, 255, 255, 0.5);
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.tlp-team-layout10 figure.effect-zoe h3 {
  font-size: 22px;
  font-weight: 700;
}
.tlp-team-layout10 figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}
.tlp-team-layout10 figure.effect-zoe:hover p.icon-links a:hover,
.tlp-team-layout10 figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31;
}
.tlp-team-layout10 figure.effect-zoe span.tlp-position {
  position: absolute;
  bottom: 3em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  /* Fix for Chrome 37.0.2062.120 (Mac) */
}
.tlp-team-layout10 figure.effect-zoe h3,
.tlp-team-layout10 figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.50s;
  transition: transform 0.50s;
  -webkit-transform: translate3d(0, 300%, 0);
  transform: translate3d(0, 300%, 0);
}
.tlp-team-layout10 figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tlp-team-layout10 figure.effect-zoe h3 {
  display: inline-block;
}
.tlp-team-layout10 figure.effect-zoe:hover span.tlp-position {
  opacity: 1;
}
.tlp-team-layout10 figure.effect-zoe:hover figcaption,
.tlp-team-layout10 figure.effect-zoe:hover h3,
.tlp-team-layout10 figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.tlp-team-layout10 figure.effect-zoe:hover h3 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -120px;
  color: #fff;
 
}
.tlp-team-layout10 figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.tlp-team-layout10 figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.tlp-team-layout10 figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}











